/* BG-IMG-HERO-SECTION START */


.bg-about-hero-img {
    background-image: url("../img/png/about-us-hero-img.png");
    height: 37vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* BG-IMG-HERO-SECTION END */
/* CARDS CLASS START */
.cards-shadow-hover {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.cards-shadow-hover:hover {
    background: #FFFFFF;
    box-shadow: 0px 6px 41px rgba(0, 0, 0, 0.25);
}

/* CARDS CLASS END */

/* MARGIN AND PADDING CLASS START */
.mt-91 {
    margin-top: 91px;
}

.mt-103 {
    margin-top: 103px;
}

.mb-197 {
    margin-bottom: 197px;
}

/* MARGIN AND PADDING CLASS END */

/* MEDIAQURIES START */
@media (min-width: 992px) and (max-width: 1200px) {
    .bg-about-hero-img {
        height: 40vh;
    }

}

@media (max-width: 576px) {

    .bg-about-hero-img {
        background-size: unset !important;
    }

    .mt-sm-51 {
        margin-top: 51px;
    }

    .mt-sm-45 {
        margin-top: 45px;
    }

    .mb-sm-100 {
        margin-bottom: 100px;
    }

}

/* MEDIAQURIES END */