/* CARDS CLASS START */
.cards-shadow-hover {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.cards-shadow-hover:hover {
    background: #FFFFFF;
    box-shadow: 0px 6px 41px rgba(0, 0, 0, 0.25);
}

/* CARDS CLASS END */

/* MARGIN AND PADDING CLASS START */
.mt-103 {
    margin-top: 103px;
}

.mb-103 {
    margin-bottom: 103px;
}

/* MARGIN AND PADDING CLASS END */