:root {
    --font-28: 28px;
    --color-silver: #e5e5e5;
}

.background-color-silver {
    background: var(--color-silver);
}

.fs-28 {
    font-size: var(--font-28) !important;
}

/* EXIBITION PAGE  */

.mw-1162 {
    max-width: 1162px;
}

/* TRAINING PAGE */


.mw-1108 {
    max-width: 1108px;
}



.provincial-training-card {
    background: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    transition: 0.3s ease;
}

.provincial-training-card:hover {
    box-shadow: 0px 8px 35px rgba(17, 17, 17, 0.16);
    border: 1px solid transparent;
}

/* HOME PAGE  */
.opacity-07 {
    opacity: 0.7 !important;
}

::marker {
    color: var(--color-red);
    border-radius: 50%;

}

.forum-card {
    background: var(--color-silver);
    border-radius: 16px;
    transition: 0.3s ease;
}

.forum-card:hover {
    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.08));
}

.border-bottom-4 {
    border-bottom: 4px solid var(--color-red);
}

.carousel-card {
    background: var(--color-white);
    border-radius: 16px;
    transition: 0.3s ease;
}

.carousel-card:hover {
    box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.08);
}


.slick-slide {
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

/* CAROUSEL MEDIA QUERRY  */


@media (min-width:768px) and (max-width:991.98px) {
    .left-btn {
        position: absolute;
        left: -5px;
        top: 330px;
        z-index: 2;
    }

    .right-btn {
        position: absolute;
        right: -5px;
        top: 330px;
        z-index: 2;
    }
}

@media (min-width:992px) and (max-width:1299.98px) {
    .left-btn {
        position: absolute;
        left: -15px;
        top: 244px;
        z-index: 2;
    }

    .right-btn {
        position: absolute;
        right: -15px;
        top: 244px;
        z-index: 2;
    }
}

@media (min-width:1300px) {
    .left-btn {
        position: absolute;
        left: -60px;
        top: 244px;
    }

    .right-btn {
        position: absolute;
        right: -60px;
        top: 244px;
    }

}

@media (min-width:992px) {
    .mw-459 {
        max-width: 459px;
    }

    .mw-500 {
        max-width: 500px;
    }

    .mw-512 {
        max-width: 512px;
    }

    .mw-536 {
        max-width: 536px;
    }

    .mw-590 {
        max-width: 590px;
    }

    .mw-600 {
        max-width: 600px;
    }

    .mw-620 {
        max-width: 620px;
    }


}

/* FOURM PAGE */

.fourm-bg-img {
    background-image: url("../img/png/forum-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* MISSION PAGE */
.mw-664 {
    max-width: 664px;
}

/* VILLAGE HISTORY */
.village-history-bg-img {
    background-image: url("../img/png/VillageHistory-Hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mw-1097 {
    max-width: 1097px;
}

/* VILLAGE HOME HISTORY */


.bg-village-home-history {
    background-image: url("../img/png/village-home-history-bg-img.png");
    height: 40vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .bg-village-home-history {
        height: 40vh;
    }

}

@media (max-width:768px) {
    .img-h-sm-65 {
        height: 65vh !important;
    }
}

@media (max-width: 576px) {

    .bg-village-home-history {
        background-size: unset !important;
    }

    .img-h-39 {
        height: 39vh !important;
    }


}