:root {
    --font-28: 28px;
    --color-silver: #e5e5e5;
}

.background-color-silver {
    background: var(--color-silver);
}

.fs-28 {
    font-size: var(--font-28) !important;
}

/* EXIBITION PAGE  */

.mw-1162 {
    max-width: 1162px;
}

/* TRAINING PAGE */


.mw-1108 {
    max-width: 1108px;
}



.provincial-training-card {
    background: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    transition: 0.3s ease;
}

.provincial-training-card:hover {
    box-shadow: 0px 8px 35px rgba(17, 17, 17, 0.16);
    border: 1px solid transparent;
}

/* HOME PAGE  */
.opacity-07 {
    opacity: 0.7 !important;
}

.mw-536 {
    max-width: 536px;
}

.forum-card {
    background: var(--color-silver);
    border-radius: 16px;
}

.carousel-card {
    background: var(--color-white);
    border-radius: 16px;
    transition: 0.3s ease;
}

.carousel-card:hover {
    box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.08);
}


.slick-slide {
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

/* CAROUSEL MEDIA QUERRY  */
@media (min-width:768px) and (max-width:991.98px) {
    .left-btn {
        position: absolute;
        left: -38px;
        top: 330px;
    }

    .right-btn {
        position: absolute;
        right: -38px;
        top: 330px;
    }
}

@media (min-width:992px) and (max-width:1199.98px) {
    .left-btn {
        position: absolute;
        left: -45px;
        top: 244px;
    }

    .right-btn {
        position: absolute;
        right: -45px;
        top: 244px;
    }
}

@media (min-width:1200px) {
    .left-btn {
        position: absolute;
        left: -45px;
        top: 244px;
    }

    .right-btn {
        position: absolute;
        right: -45px;
        top: 244px;
    }

}

/* FOURM PAGE */
.mw-620 {
    max-width: 620px;
}

.mw-590 {
    max-width: 590px;
}

.fourm-bg-img {
    background-image: url("../img/png/forum-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* MISSION PAGE */
.mw-664 {
    max-width: 664px;
}

/* VILLAGE HISTORY */
.village-history-bg-img {
    background-image: url("../img/png/VillageHistory-Hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mw-1097 {
    max-width: 1097px;
}

.mw-600 {
    max-width: 600px;
}