/* EXIBITION PAGE  */

.mw-1162 {
    max-width: 1162px;
}

/* TRAINING PAGE */
:root {
    --color-silver: #e5e5e5;
}

.mw-1108 {
    max-width: 1108px;
}

.background-color-silver {
    background: var(--color-silver);
}

.provincial-training-card {
    background: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    transition: 0.3s ease;
}

.provincial-training-card:hover {
    box-shadow: 0px 8px 35px rgba(17, 17, 17, 0.16);

}