/* ACCORDIAN CLASS START */
.accordion-item:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.accordion-last-box {
  border: 1px solid #00000020;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.accordion-button::after {
  margin-left: auto;
  margin-right: 3%;
  background-image: url('../img/png/Vector\ \(4\).png');
}

.accordion-button:not(.collapsed)::after {

  background-image: url('../img/png/Vector\ \(4\).png');
  transform: rotate(-180deg);
}

/* ACCORDIAN CLASS END */