.navbar_box_shadow {
    background: var(--color-white);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.07);
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .h-xl-xxl-45 {
        height: 45px;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .bg-libary-img {
        height: 40vh;
    }

    .h-xl-30 {
        height: 30px;
    }
}


@media (max-width: 576px) {
    .h-xs-30 {
        height: 30px;
    }

    .bg-libary-img {
        height: 40vh;
        background-size: unset !important;
    }

}

/* navbar css */

.navbar-text-link {
    color: var(--color-black) !important;
    font-size: var(--font-15) !important;
    font-weight: 400 !important;
    font-family: "Poppins";
}

.sign-in_btn {
    background-color: var(--color-red) !important;
    font-size: var(--font-15) !important;
    color: var(--color-white) !important;
    border-radius: 22px;
    font-weight: 600;
    font-family: "Poppins" !important;
}

.sign-in_btn:hover {
    background-color: var(--color-red) !important;
    opacity: .7;
}


.bg-libary-img {
    background-image: url("../img/png/unsplash_2JIvboGLeho.png");
    height: 37vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* ends here .. */

.opacity-text {
    font-size: var(--font-16);
    color: var(--color-white);
    opacity: .7;
    font-weight: normal;
    font-family: "Poppins";
}

.filter-box-shadow {
    background: var(--color-white);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}

.filter-text {
    font-family: "Poppins";
    font-weight: 600;
    font-size: var(--font-15);
    color: var(--color-black);
}

.cursor-pointer {
    cursor: pointer;
}

.b-b-red {
    border-bottom: 2px solid #c2190e;
}



.placeholder-input-text::placeholder {
    font-size: var(--font-16);
    color: var(--color-black);
    font-weight: normal;
    font-family: "Poppins";
    opacity: .7;
}

.placeholder-input-text {
    font-size: var(--font-16);
    color: var(--color-black);
    font-weight: normal;
    font-family: "Poppins";

}



.select-text {
    font-size: var(--font-16);
    color: var(--color-black);
    font-weight: normal;
    font-family: "Poppins";
    opacity: .7;
}



/* slider css starts here.... */


[slider] {
    position: relative;
    height: 14px;
    border-radius: 10px;
    text-align: left;
    margin: 22px 0 10px 0;
}

[slider]>div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 14px;
}

[slider]>div>[inverse-left] {
    position: absolute;
    left: 0;
    height: 14px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider]>div>[inverse-right] {
    position: absolute;
    right: 0;
    height: 14px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider]>div>[range] {
    position: absolute;
    left: 0;
    height: 14px;
    border-radius: 14px;
    background-color: #C21A0E;
}

[slider]>div>[thumb] {
    position: absolute;
    top: -7px;
    z-index: 2;
    height: 28px;
    width: 28px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #FFF;
    border-radius: 50%;
    outline: none;
}

[slider]>input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

div[slider]>input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider]>input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider]>input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}

div[slider]>input[type=range]:focus {
    outline: none;
}

div[slider]>input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider]>input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider]>input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}

div[slider]>input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

div[slider]>input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

div[slider]>input[type=range]::-ms-tooltip {
    display: none;
}

[slider]>div>[sign] {
    opacity: 0;
    position: absolute;
    margin-left: -11px;
    top: -39px;
    z-index: 3;
    background-color: #C21A0E;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

[slider]>div>[sign]:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: #C21A0E;
}

[slider]>div>[sign]>span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
}

[slider]:hover>div>[sign] {
    opacity: 1;
}



/* slider css ends here... */

.age-text-style {
    font-size: var(--font-16);
    font-weight: 400;
    color: var(--color-black);
    font-family: "Poppins";
}


.datepicker-input input {
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    border-radius: 4px;
}



.position-relative {
    position: relative;
}


.bucket-icon {
    position: absolute;
    right: 3px;
    top: 8px;

}

.bucket-icon2 {
    position: absolute;
    right: 3px;
    top: 14px;
}

input:focus {
    outline: unset;
}



.border-red-btn {
    border: 1px solid #CDCDCD;
    border-radius: 16px;
    font-family: "Poppins";
    color: #727272;
    font-size: 14px;
    font-weight: normal;
    background: var(--color-white);
}

.border-red-btn:hover {
    border: 1px solid var(--color-red);
    border-radius: 16px;
    font-family: "Poppins";
    color: var(--color-red);
    ;
    font-size: 14px;
    font-weight: normal;
    background: var(--color-white);
}


.dc-cam-wrapper {
    background: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 14px 18px;
}

.br-bottom-grey {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.black-bold-text {
    color: var(--color-black);
    font-family: "Poppins";
    font-weight: 500;
}

.form-small-text {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    font-family: "Poppins";
    font-size: var(--font-16);
}


.read-more-text {
    color: var(--color-red);
    cursor: pointer;
    font-size: var(--font-16);
    font-weight: 400;
}

.rotate-direction-180 {
    transform: rotate(180deg);
}



.active-pagnation-text {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 10px 18px;
    font-family: "Poppins";
    border-radius: 50%;
}


.cursor-pointer {
    cursor: pointer;
}

.pagenation-text {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-black);
    font-family: "Poppins";
}

.copyright-text {
    color: var(--color-black);
    opacity: .5;
    font-size: var(--font-15);
    font-family: "Poppins";
}