.section-headings {
    font-size: var(--font-36);
    font-weight: 600;
    color: var(--color-black);
    position: relative;
}

.section-headings::before {
    content: "";
    background-color: var(--color-red);
    height: 4px;
    width: 88px;
    position: absolute;
    left: 0;
    top: -10px;
}

/* .mx-538 {
    max-width: 538px;
} */
.body-color {
    background-color: rgba(255, 255, 255, 1);
}

.section-button {
    font-size: var(--font-15);
    font-weight: 600;
    background-color: var(--color-red);
    padding: 6px 22px;
    border-radius: 17.5px;
    border: none;
    color: var(--color-FAFAFA);
    transition: all 200ms ease-in-out;
}

.section-button:hover {
    outline: 2px solid var(--color-red) !important;
    background-color: var(--color-FAFAFA);
    color: var(--color-red);
}

@media (min-width:1200px) {
    .h-50vh {
        min-height: 50vh;
    }

    .image-section1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
    }

    .section-image {
        position: absolute;
        height: 100%;
    }

    .image-section2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
}