.border-r-22 {
    border-radius: 22px !important;
}

.mb-200 {
    margin-bottom: 200px;
}

.gmp-responsive-map {
    overflow: hidden;
    height: 526px !important;
    position: relative;
    height: 0;
}

.gmp {
    height: 526px;
}

.gmp-responsive-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/* 2nd map css  */

.anlongveng-responsive-map {
    overflow: hidden;
    height: 541px !important;
    position: relative;
    height: 0;
}

.anlongveng-responsive-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.anlongveng {
    height: 541px;
}

/* 3rd map css */



.queen-responsive-map {
    overflow: hidden;
    height: 436px !important;
    position: relative;
    height: 0;
}

.queen-responsive-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.queen {
    height: 436px;
}

/* 4th map css */



.outreach-responsive-map {
    overflow: hidden;
    height: 556px !important;
    position: relative;
    height: 0;
}

.outreach-responsive-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.outreach {
    height: 556px;
}

.footer-space {
    margin-top: 100px;
}

.map-page-a-tag {
    color: #727272 !important;
}

.map-page-button:hover .map-page-a-tag {
    color: var(--color-red) !important;
}

@media (max-width:992px) {
    .mb-lg-100 {
        margin-bottom: 100px !important;
    }
}