.min-h-200 {
  min-height: 200px;
}

.min-h-155 {
  min-height: 155px;
}

@media (max-width:768px) {
  .youtube-icons {
    max-width: 50px;
  }
}

.left-btn-village-home {
  z-index: 22;
  top: 38%;
  left: -40px;
}

.right-btn-village-home {
  z-index: 22;
  top: 38%;
  right: -40px;
}

@media (max-width:575.98px) {}

@media (min-width:576px) and (max-width:767.98px) {
  .left-btn-village-home {
    top: 32%;
  }

  .right-btn-village-home {
    top: 32%;
  }
}

@media (min-width:768px) and (max-width:991.98px) {
  .left-btn-village-home {
    top: 32%;
  }

  .right-btn-village-home {
    top: 32%;
  }
}

@media (min-width:992px) and (max-width:1199.98px) {
  .left-btn-village-home {
    top: 32%;
  }

  .right-btn-village-home {
    top: 32%;
  }
}

@media (min-width:1200px) and (max-width:1399.98px) {
  .left-btn-village-home {
    top: 32%;
  }

  .right-btn-village-home {
    top: 32%;
  }
}