:root {
    --color-gray: #bfbfbf;
}

/* BG CLASS START */
.bg-genocide-hero-img {
    background-image: url("../img/png/Group\ 27815.png");
    height: 37vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* BG CLASS END */

/* LINE-HIEGHT CLASS START */
.line-h-166 {
    line-height: 166%;
}

.line-height-154 {
    line-height: 154%;
}

/* LINE-HIEGHT CLASS END */

/* BORDER CLASS START */
.border-top-4 {
    border-top: 4px solid var(--color-red);
}

/* BORDER CLASS END */
/* ACCORDIN-BTN */


.accordion-buttons::after {

    background-image: none !important;
}

.accordion-buttons:not(.collapsed)::after {
    background-image: none !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../img/svg/Vector.png') !important;
    padding-right: 20px;
}

.accordion-button::after {
    background-image: url('../img/svg/Vector.png') !important;
    padding-right: 20px;
}

.accordion-button:not(.collapsed) {
    color: var(--text-black);
}

.accordion-bg-color {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(54, 48, 116, 0.3);
    border-radius: 20px;
}

.border-bottom-1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}










.accordion-box {
    background: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(54, 48, 116, 0.3);
}



@media (min-width: 992px) and (max-width: 1200px) {
    .bg-genocide-hero-img {
        height: 40vh;
    }

}

@media (max-width: 576px) {

    .bg-genocide-hero-img {
        background-size: unset !important;
    }

}