@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

.ff-source {
  font-family: 'Source Sans Pro',
    sans-serif;
  ;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',
    sans-serif;
}

:root {
  /* =============================FONT-SIZE============================= */
  --font-12: 12px;
  --font-14: 14px;
  --font-15: 15px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-28: 28px;
  --font-35: 35px;
  --font-36: 36px;
  --font-48: 48px;
  /* ========================================COLOR======================================== */
  --color-black: #000000;
  --color-light-black: #4D4D4D;
  --color-light-black-07: #BCBBB9;
  --color-white: #ffffff;
  --color-red: #C2190E;
  --color-4B4B4B: #4B4B4B;
  --color-838383: #838383;
  --color-FAFAFA: #FAFAFA;
  --color-gray: #bfbfbf;
}


/* Media-queries-start */

@media (max-width:992px) {
  :root {
    --font-14: 13px;
    --font-15: 14px;
    --font-16: 15px;
    --font-18: 16px;
    --font-20: 17px;
    --font-35: 24px;
    --font-36: 27px;
    --font-48: 30px;
  }
}

@media (max-width:576px) {
  :root {
    --font-14: 12px;
    --font-15: 13px;
    --font-16: 14px;
    --font-18: 14px;
    --font-20: 14px;
    --font-35: 23px;
    --font-36: 24px;
    --font-48: 25px;
  }

}

/* Media-queries-end */
/*===================== font-size===================== */

/*====================== FONT SIZE CLASS START====================== */
.fs-12 {
  font-size: var(--font-12) !important;
}

.fs-14 {
  font-size: var(--font-14) !important;
}

.fs-15 {
  font-size: var(--font-15) !important;
}

.fs-16 {
  font-size: var(--font-16) !important;
}

.fs-18 {
  font-size: var(--font-18) !important;
}

.fs-20 {
  font-size: var(--font-20) !important;
}

.fs-28 {
  font-size: var(--font-28) !important;
}

.fs-35 {
  font-size: var(--font-35) !important;
}

.fs-36 {
  font-size: var(--font-36) !important;
}

.fs-48 {
  font-size: var(--font-48) !important;
}

/*====================== FONT SIZE CLASS END====================== */

/*====================== FONT-weight SIZE CLASS START====================== */
.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

/*====================== FONT-weight SIZE CLASS END====================== */


/*====================== COLOR  CLASS START====================== */


.text-white {
  color: var(--color-white) !important;
}

.text-black {
  color: var(--color-black) !important;
}

.text-red {
  color: var(--color-red) !important;
}

.text-4B4B4B {
  color: var(--color-4B4B4B) !important;
}

.text-light-black {
  color: var(--color-light-black) !important;
}

.text-light-black-07 {
  color: var(--color-light-black-07) !important;
}

.text-color-838383 {
  color: var(--color-838383) !important;
}

.bg-color-black {
  background-color: var(--color-black) !important;
}

.bg-color-white {
  background-color: var(--color-white) !important;
}

.bg-color-red {
  background-color: var(--color-red) !important;
}

.bg-color-FAFAFA {
  background-color: var(--color-FAFAFA) !important;
}



/*====================== COLOR  CLASS END====================== */

/*====================== COMMON TEXT CLASS START====================== */
.main-heading {
  font-family: 'Poppins',
    sans-serif;
  font-size: var(--font-48);
  color: var(--color-black);
  font-weight: 600;

}

.heading {
  font-family: 'Poppins',
    sans-serif;
  font-size: var(--font-35);
  color: var(--color-black);
  font-weight: 600;
}

.sub-heading {
  font-family: 'Poppins',
    sans-serif;
  font-size: var(--font-20);
  color: var(--color-black);
  font-weight: 400;
}

.main-para {
  font-family: 'Poppins',
    sans-serif;
  font-size: var(--font-18);
  color: var(--color-black);
  font-weight: 600;
}

.para {
  font-family: 'Poppins',
    sans-serif;
  font-size: var(--font-16);
  color: var(--color-light-black-07);
  font-weight: 400;
}

.sub-para {
  font-family: 'Poppins',
    sans-serif;
  font-size: var(--font-15);
  color: var(--color-light-black-07);
  line-height: 27px;
  font-weight: 400;
}

.extra-small-text {
  font-family: 'Poppins',
    sans-serif;
  font-size: var(--font-14);
  color: var(--color-black);
  font-weight: 400;
}

/*====================== COMMON TEXT CLASS START====================== */
/* OPACITY START */
.opacity-07 {
  opacity: 0.7;
}

/* OPACITY END */

/* ACCORDIAN START */
.accordion-custom-btn::before {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  margin-right: 20px;
  content: "";
  background-image: url(../img/svg/Group\ 27740.svg) !important;
  background-repeat: no-repeat;
  background-size: 2rem;
  transition: all .2s ease-in-out;
}

.accordion-custom-btn:not(.collapsed)::before {
  background-image: url(../img/svg/Group\ 27740.svg) !important;
  transform: rotate(180deg);
}

.accordion-c.accordion-custom-btn:hover::before {
  box-shadow: 2px 2px 2px black;
}

.accordion-buttons::after {
  background-image: none;
}

.accordion-buttons:not(.collapsed)::after {
  background-image: none;

}

.accordion-buttons:not(.collapsed) {
  box-shadow: none;

}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

/* ACCORDIAN END */

.br-20 {
  border-radius: 20px !important;
}

/* cursor-pointer CLASS START */

.cursor-pointer {
  cursor: pointer;
}

/* cursor-pointer CLASS END */

/* LINE-HIEGHT CLASS START */
.line-h-166 {
  line-height: 166%;
}

.line-height-154 {
  line-height: 154%;
}


/* LINE-HIEGHT CLASS END */
@media (min-width: 1600px) {
  .container-xll {
    max-width: 1400px !important;
  }
}


@media (min-width: 576px) {
  .w-sm-100 {
    width: 100%;
  }
}