:root {
  --font-12: 12px;
  --font-36: 36px;
}

.fs-12 {
  font-size: var(--font-12) !important;
}

.fs-36 {
  font-size: var(--font-36) !important;
}

/* LINE-HIEGHT CLASS START */
.line-h-166 {
  line-height: 166%;
}

/* LINE-HIEGHT CLASS END */

/* BORDER CLASS START */
.border-top-4 {
  border-top: 4px solid var(--color-red);
}

/* BORDER CLASS END */
.cursor-pointer {
  cursor: pointer;
}

/* BG CLASS START */
.bg-teacher-guide-hero-img {
  background-image: url("../img/png/about-us-hero-img.png");
  height: 37vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* BG CLASS END */
@media (min-width: 992px) and (max-width: 1200px) {
  .bg-teacher-guide-hero-img {
    height: 40vh;
  }

}

@media (max-width: 576px) {

  .bg-teacher-guide-hero-img {
    background-size: unset !important;
  }

  :root {
    --font-12: 12px;
    --font-36: 25px;
  }
}