/* BG CLASS START */
.bg-teacher-hero-img {
    background-image: url("../img/png/about-us-hero-img.png");
    height: 37vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* BG CLASS END */

/* BORDER CLASS START */
.border-top-4 {
    border-top: 4px solid var(--color-red);
}

/* BORDER CLASS END */

/* ACCORDIN-BTN */

.accordion-custom-btn::before {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    margin-right: 20px;
    content: "";
    background-image: url(../img/svg/Group\ 27740.svg) !important;
    background-repeat: no-repeat;
    background-size: 2rem;
    transition: all .2s ease-in-out;
}

.accordion-custom-btn:not(.collapsed)::before {
    background-image: url(../img/svg/Group\ 27740.svg) !important;
    transform: rotate(180deg);
}

.accordion-c.accordion-custom-btn:hover::before {
    box-shadow: 2px 2px 2px black;
}

.accordion-buttons::after {
    background-image: none;
}

.accordion-buttons:not(.collapsed)::after {
    background-image: none;

}

.accordion-buttons:not(.collapsed) {
    box-shadow: none;

}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

/* ACCORDIN-BTN END */

/* history-book-distribution css  START */
#img-style {
    list-style-image: url('../img/png/Vector\ \(3\).png');
}

/* history-book-distribution css  END */

@media (min-width: 992px) and (max-width: 1200px) {
    .bg-teacher-hero-img {
        height: 40vh;
    }

}

@media (max-width: 576px) {

    .bg-teacher-hero-img {
        background-size: unset !important;
    }
}